.page {
    background-color: #D9D9D9;
    min-height: 100vh;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-align: center;
    min-height: 75px;
    background-color: #389C3C;
}

.header__title {
    margin: 0;
    padding: 0;
}

.header__logout {
    position: absolute;
    right: 20px;
    background: none;
    color: white;
    border: none;
}

.container {
    padding: 20px;
}